body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img, abbr {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

ul li {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit; }

legend {
  color: #000; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block; }

img {
  max-width: 100%;
  height: auto; }

.red1 {
  background-color: red; }

header {
  margin: 10px auto;
  max-width: 1140px;
  height: 124px; }
  header .head-items {
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px; }
    @media screen and (max-width: 960px) {
      header .head-items {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; } }
    header .head-items .head-item {
      margin-left: 30px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      word-wrap: break-word;
      margin-left: 15px;
      margin-right: 15px; }
      @media screen and (max-width: 960px) {
        header .head-items .head-item {
          width: -webkit-calc(100% / 12 * 2 - 30px);
          width: calc(100% / 12 * 2 - 30px); } }
